.header {
	width: 100%;
	background-image: url(https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683_960_720.png);
	height: 60vh;

	background-size: cover;
	.headertitles {
		display: flex;
		flex-direction: column;
		position: relative;

		.headertitlebg {
			font-size: 75px;
			color: rgb(75, 75, 75);

			font-weight: bold;
			position: absolute;
			left: 50%;
			top: 30px;
			transform: translateX(-50%);
			// transform: translateY(50%);
		}
		.headertitlesm {
			width: 90%;
			font-size: 17px;
			// background-color: rgb(56, 105, 161);
			position: absolute;
			left: 50%;
			top: 130px;
			padding: 10px;
			border-radius: 5px;
			color: rgb(0, 0, 0);
			transform: translateX(-50%);
			// transform: translateY(-50%);
		}
	}
	.headerblogimg {
		width: 100%;
		height: 350px;
		object-fit: cover;
	}
}
